{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <container class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main role="main" class="inner cover mt-5">
                <h1 class="cover-heading">{{ title }}</h1>
                <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit
                    the text, and add your own fullscreen background photo to make it your own.</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
                </p>
            </main>
        </div>

        <div class="row mb-2">
            {% for post in news %}
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">{{ post.news_category }}</strong>
                        <h3 class="mb-0">{{ post.title }}</h3>
                        <div class="mb-1 text-muted">{{ post.date|date:"j/b/Y G:i" }} | {{ post.auther }}</div>
                        <p class="card-text mb-auto">{{ post.text|truncatechars:60 }}</p>
                        <a href="#" class="stretched-link">Подробнее</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="static/{{ post.image }}"
                             aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
                        </img>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </container>
{% endblock %}