{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    Страница авторизации
{% endblock %}

{% block content %}
    <div>
        <h1 class="text-center">Страница авторизации</h1>
        <form class="form-reg auth" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-warning" type="submit">Войти</button>
            <hr>
            <p>Забыли пароль? <a href="{% url 'pass-reset' %}">Получить
                новый пароль</a></p>
        </form>        
    </div>
{% endblock %}